{#{% extends 'base2.html' %}#}
{#{% load static %}#}
{##}
{#{% block title %} Edit profile page {% endblock %}#}
{#{% block content %}#}
{#    {% if user.is_authenticated %}#}
{#        {% if user.id == account.user.id %}#}
{#            <h1>Edit profile page</h1>#}
{##}
{#            <div class="form-group">#}
{#                <form method="POST" enctype="multipart/form-data">#}
{#                    {% csrf_token %}#}
{##}
{#                    {{ form.as_p }}#}
{#                    <button class="btn btn-secondary">Update Profile</button>#}
{#                </form>#}
{#            </div>#}
{#        {% else %}#}
{#            You are not the correct User to edit this profile!!!#}
{#        {% endif %}#}
{##}
{#    {% else %}#}
{#        You are not authenticated.#}
{#    {% endif %}#}



{#{% endblock %}#}