{% extends 'base2.html' %}
{% block body %}
    <form method="post">
        {% csrf_token %}
        <input type="text" name="username">
        <input type="password" name="password">

        <button type="submit">Login</button>
        <p>Daca nu ai cont, <a href="{% url 'register_service_provider' %}">Inregistreaza-te</a></p>
    </form>
{% endblock %}
{#{% extends 'base2.html' %}#}
{##}
{##}
{#{% block content %}#}
{##}
{#<section class="section-conten padding-y" style="min-height:84vh">#}
{##}
{#<!-- ============================ COMPONENT LOGIN   ================================= -->#}
{##}
{#{% if request.GET.command == 'verification' %}#}
{##}
{#<div class="container mx-auto alert alert-info text-center" role="alert" style="max-width: 1024px; margin-top:100px;">#}
{#Thank you for registering with us. We have sent you a verification email to your email address [{{ request.GET.email }}]#}
{#<br><br>#}
{#Already verified? <a href="{% url 'login' %}">Login</a>#}
{#</div>#}
{##}
{#{% else %}#}
{##}
{#	<div class="card mx-auto" style="max-width: 380px; margin-top:100px;">#}
{##}
{#      <div class="card-body">#}
{#      <h4 class="card-title mb-4">Sign in</h4>#}
{#      {% include 'includes/alerts.html' %}#}
{#      <form action="{% url 'login' %}" method="POST">#}
{#        {% csrf_token %}#}
{#          <div class="form-group">#}
{#			 <input type="email" class="form-control" placeholder="Email Address" name="email">#}
{#          </div> <!-- form-group// -->#}
{#          <div class="form-group">#}
{#			<input type="password" class="form-control" placeholder="Password" name="password">#}
{#          </div> <!-- form-group// -->#}
{##}
{#          <div class="form-group">#}
{#          	<a href="{% url 'forgotPassword' %}" class="float-right">Forgot password?</a>#}
{##}
{#          </div> <!-- form-group form-check .// -->#}
{#          <div class="form-group">#}
{#              <button type="submit" class="btn btn-primary btn-block"> Login  </button>#}
{#          </div> <!-- form-group// -->#}
{#      </form>#}
{#      </div> <!-- card-body.// -->#}
{#    </div> <!-- card .// -->#}
{##}
{#     <p class="text-center mt-4">Don't have account? <a href="{% url 'register_service_provider' %}">Sign up</a></p>#}
{#     <br><br>#}
{#<!-- ============================ COMPONENT LOGIN  END.// ================================= -->#}
{#{% endif %}#}
{##}
{#</section>#}
{#{% endblock %}#}
