<style>
    .detailsCards {
        max-width:800px;
        margin:auto;
        text-align:center;
        background-color:white;
        border:4px solid grey;
        margin-top:50px;
    }

    .titleCard {
        margin-bottom:60px;
        margin-top:60px;
    }


    .card {
        display: flex;
        flex-direction: row;
        padding:0px;
        height:auto;
        margin-bottom:10px;
    }

    .imgCard {
        width:30%;
        border:4px solid white;

    }

    .card-img-top {
        width:100%;
        height:100%;
        object-fit: cover;
    }

    .card-body {
        width:70%;
        position:relative;
    }

    .round {
        position:absolute;
        background-color:red;
        color:white;
        font-size:14px;
        width:100px;
        height:100px;
        border-radius: 100px;
        top:0px;
        left:0px;
        padding:40px 0px;
    }

</style>


<div class="container-xl detailsCards">
    <h3 class="titleCard">{{ title }}</h3>
    <div class="titleCards row">
        {% for service_provider in service_providers %}
{#            <!-- col-xl-3 col-lg-4 col-md-6 col-sm-12 ASTEA TINEAU DE CARD -->#}
            <div class="card">
                <div class="imgCard">
                   <img src="{{ service_provider.image.url }}" class="card-img-top" alt="{{ service_provider.name }}">
                </div>

                <div class="card-body">
                    <!-- <div class="round">{{ service_provider.type }}</div> -->
                    <h4 class="card-title"><strong>{{ service_provider.name }}</strong> | {{ service_provider.type }}</h4>
                    <p class="card-text">{{ service_provider.email }}<br>{{ service_provider.description }} <strong>TEL:</strong> {{ service_provider.phone_nr }}</p>
                    {% if request.user.is_authenticated %}
                        <a href="{% url 'message_create' %}" class="btn btn-primary m-1">TRIMITE MESAJ</a>
                        <a href="{% url 'favourite_add' service_provider.id %}" class="btn btn-primary m-1">ADAUGA FAVORITE</a>
                    {% endif %}
{#                    <a href="" class="btn btn-primary m-1">Adauga in lista</a> {# de facut link-ul catre register #}
                        <a href="{% url 'service_provider_details' service_provider.id %}" class="btn btn-secondary m-1">DETALII SUPLIMENTARE</a>
                        <a href="{% url 'service_provider_details' service_provider.id %}" class="btn btn-secondary m-1">Recenzii</a>

                </div>
            </div>
        {% endfor %}
    </div>
</div>
</div>