<style>
    .detailsCards {
        max-width:800px;
        margin:auto;
        text-align:center;
        background-color:white;
        border:4px solid lightgrey;
        margin-top:50px;
    }

    .titleCard {
        margin-bottom:20px;
        margin-top:20px;
        font-size:54px;
        font-weight:bold;
        background-color:lightgrey;
    }


    .card {
        display: flex;
        flex-direction: row;
        padding:0px;
        height:auto;
        margin-bottom:10px;
    }

    .imgCard {
        width:30%;
        border:4px solid white;

    }

    .card-img-top {
        width:100%;
        height:100%;
        object-fit: cover;
    }

    .card-body {
        width:70%;
        position:relative;
    }

    .round {
        position:absolute;
        background-color:red;
        color:white;
        font-size:14px;
        width:100px;
        height:100px;
        border-radius: 100px;
        top:0px;
        left:0px;
        padding:40px 0px;
    }




</style>


<div class="container-xl detailsCards">
    <h3 class="titleCard">{{ title }}</h3>
    <div class="titleCards row">
        {% for ad in ads %}
{#            <!-- col-xl-3 col-lg-4 col-md-6 col-sm-12 ASTEA TINEAU DE CARD -->#}
            <div class="card">
                <div class="imgCard">
                   <img src="{{ ad.image.url }}" class="card-img-top" alt="{{ ad.name }}">
                </div>

                <div class="card-body">
                    <!-- <div class="round">{{ ad.type }}</div> -->
                    <h4 class="card-title"><strong>{{ ad.title }}</strong> | <span style="font-size:16px;text-transform: uppercase;"><i class='fas fa-user-alt'></i> <i class='fas fa-user-tie'></i> {{ ad.type }} </span></h4
                    <br>
                        {{ ad.text_ad }}
                    <hr>
                    <p class="card-text">
                        <span style="color:grey;font-style: italic;">
                           {{ ad.additional_details }}
                        </span>
                        <hr>

                        <br>
                        <b>Persoana de contact: </b>{{ ad.contact_person }}
                        <br>
                        <b>E-mail:</b> {{ ad.email }}
                        <br><strong>Tel:</strong> {{ ad.phone_nr }}
                        <br><p>{{ ad.locality }}</p>
                    {% if request.user.is_authenticated and perms.site_verificat_app.add_beneficiaryrequest %}
                        <a href="{% url 'message_create' %}" class="btn btn-primary m-1">TRIMITE MESAJ</a>
                        <a href="{% url 'favourite_add' ad.id %}" class="btn btn-primary m-1">ADAUGA FAVORITE</a>
                    {% endif %}
{#                    <a href="" class="btn btn-primary m-1">Adauga in lista</a> {# de facut link-ul catre register #}
                        <a href="{% url 'ad_details' ad.id %}" class="btn btn-secondary m-1">DETALII SUPLIMENTARE</a>
                        <a href="{% url 'ad_details' ad.id %}" class="btn btn-secondary m-1">Recenzii</a>
{#                    <a href="#" class="btn btn-primary m-1">Adauga in lista favorite</a>#}
{#    pentru a trimite mesaj preastorului <a href="{% url 'service_provider_details' service_provider.id %}" class="btn btn-secondary m-1">Detalii suplimentare</a>#}

                </div>
            </div>
        {% endfor %}
    </div>
</div>