<style>
    .detailsCards {
        max-width: 800px;
        margin: auto;
        text-align: center;
    }

    .titleCard {
        margin-bottom: 60px;
        margin-top: 60px;
    }


    .card {
        display: flex;
        flex-direction: row;
        padding: 0px;
        height: 170px;
        margin-bottom: 10px;
    }

    .imgCard {
        width: 30%;
        border: 4px solid white;

    }

    .card-img-top {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .card-body {
        width: 70%;
        position: relative;
    }

    .round {
        position: absolute;
        background-color: red;
        color: white;
        font-size: 14px;
        width: 100px;
        height: 100px;
        border-radius: 100px;
        top: 0px;
        left: 0px;
        padding: 40px 0px;
    }

</style>


<div class="container-xl detailsCards">
    <h3 class="titleCard">{{ title }}</h3>
    <div class="titleCards row">
        {% for category in categories %}
            {#            <!-- col-xl-3 col-lg-4 col-md-6 col-sm-12 ASTEA TINEAU DE CARD -->#}
            {#            <div class="card">#}
            {#                <div class="imgCard">#}
            {#                   <img src="{{ message.image.url }}" class="card-img-top" alt="{{ message.title }}">#}
            {#                </div>#}

            <div class="card-body">
                {#                    <!-- <div class="round">{{ ad.type }}</div> -->#}
                <h4 class="card-title"><strong>{{ category.name }}</strong></h4>
                {#                    <a href="#" class="btn btn-primary m-1">Adauga in lista favorite</a>#}
                {#    pentru a trimite mesaj preastorului <a href="{% url 'service_provider_details' service_provider.id %}" class="btn btn-secondary m-1">Detalii suplimentare</a>#}

            </div>
        {% endfor %}
        {% for subcateg in categories %}
            <div class="card-body">
                <p class="card-text">{{ subcateg.name }}</p>
            </div>

            </div>
        {% endfor %}
</div>
</div>