{#{% extends "base2.html" %}#}
{#{% load crispy_forms_tags %}#}
{#{% block content %}#}
{#    <div class="content-section">#}
{#      <div class="media">#}
{#        <img class="rounded-circle account-img" src="{{ user.profile.image.url }}">#}
{#        <div class="media-body">#}
{#          <h2 class="account-heading">{{ user.username }}</h2>#}
{#          <p class="text-secondary">{{ user.email }}</p>#}
{#        </div>#}
{#      </div>#}
{#      <!-- FORM HERE -->#}
{#    <form method="POST" enctype="multipart/form-data">#}
{#        {% csrf_token %}#}
{#        <fieldset class="form-group">#}
{#            <legend class="border-bottom mb-4">Profile Info</legend>#}
{#            {{ u_form }} <!-- User form -->#}
{#            {{ p_form }} <!-- Profile form -->#}
{#        </fieldset>#}
{#        <div class="form-group">#}
{#            <button class="btn btn-outline-info" type="submit">Update</button>#}
{#        </div>#}
{#    </form>#}
{#    </div>#}
{#{% endblock content %}#}
{##}
{#{% block head %}#}
{#    <title>Profile</title>#}
{#{% endblock %}#}
{#{% block body %}#}
{#    <div class="container">#}
{#    <h1>Profile</h1>#}
{#    <p>Username: {{ user }}</p>#}
{#    <p>Image: {{ user.profile.image.url }}</p>#}
{#    <p>Email: {{ user.email }}</p>#}
{#    <p>Phone: {{ user.phone }}</p>#}
{#    </div>#}
{#{% endblock %}#}