{% extends 'pages/admin_page.html' %}

{% block title %} All Ads View {% endblock %}
{% block admin_content %} {# de modificat #}
{#    <a class="btn btn-success"#}
{#       href="{% url 'category_create' %}" style="margin-top: 120px;">Create</a>#}
    <div class="row">
        {% for ad in ads %}
            {% if request.user.id == ad.service_provider_id %}

                <div class="card col-xl-3 col-lg-4 col-md-6 col-sm-12 border-primary border-2 mb-1 me-1"
                     style="max-width: 20rem;">
    {#                <img class="rounded-circle anunt-img" src="{{ ad.service_provider.profile.image.url }}">#}
                    <div class="card-header fw-bold">{{ ad.title }}</div>
                    <div class="card-body">
                        {% if perms.site_verificat_app.change_ad %}
                            <a class="btn btn-primary btn-sm" href="{% url 'ad_update' ad.id %}" role="button">Update</a>
                        {% endif %}

                        {% if perms.site_verificat_app.change_ad %}
                            <a class="btn btn-danger btn-sm" href="{% url 'ad_delete' ad.id %}" role="button">Delete</a>
                        {% endif %}

                        <a class="btn btn-secondary btn-sm" href="{% url 'ad_details' ad.id %}" role="button">Ad
                            details</a>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}