{#{% extends 'base.html' %}#}
{##}
{#{% block title %} Ad admin page {% endblock %}#}
{#{% block body %}#}
{##}
{#    {% if perms.site_verificat_app.view_ad %}#}
{#        <a class="btn btn-primary" href="{% url 'ad_all_view' %}" role="button">Lista anunturi</a>#}
{#    {% endif %}#}
{##}
{#    {% if perms.site_verificat_app.add_ad %}#}
{#        <a class="btn btn-success" href="{% url 'ad_create' %}" role="button">Adauga anunt</a>#}
{#    {% endif %}#}
{#    {% if perms.site_verificat_app.view_beneficiary_request %}#}
{#        <a class="btn btn-primary" href="{% url 'beneficiary_request_all_view' %}" role="button">Lista Cereri</a>#}
{#    {% endif %}#}
{##}
{#    {% if perms.site_verificat_app.add_beneficiary_request %}#}
{#        <a class="btn btn-success" href="{% url 'beneficiary_request_create' %}" role="button">Adauga Cerere</a>#}
{#    {% endif %}#}
{##}
{#    {% if request.user.is_staff %} {# de modificat#}
{#        <a class="btn btn-dark" href="{% url 'ad_admin_page' %}" role="button">Home admin</a>#}
{#    {% endif %}#}
{#        <a class="btn btn-primary" href="{% url 'ad_update' %}" role="button">Update ad</a>#}
{#        <a class="btn btn-primary" href="{% url 'ad_delete' %}" role="button">Delete ad</a>#}
{##}
{#    {% block ad_admin_content %}{% endblock %}#}
{#{% endblock %}#}
