{#{% extends 'base.html' %}#}
{% extends 'pages/admin_page.html' %}

{% block title %} Adauga Anunt {% endblock %}
{% block admin_content %}
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Adauga Anunt</button>
    </form>

{% endblock %}