{% extends 'base2.html' %}
<style>
.notifications.space-below{
    margin-bottom: 20px;
}



</style>
{% block body %}
     <div class="container" style="margin-top: 200px">
        <div class="card">
            <div class="row g-0">
                <div class="col-md-6">
                    <div class="p-3 right-side">
                        <div class="d-flex justify-content-between align-items-center">
                            <h5 style="background-color:lightgrey;padding:2px;width:100%;"><b>{{ ad.title }} | {{ ad.type }}</b> </h5>
                            <span class="heart"><i class='bx bx-heart'></i></span>
                        </div>

                        <div class="mt-2 pr-3 content">
                            <p><b>Descriere anunt:</b></p>
                            <ul>
                                <li>{{ ad.text_ad }}</li>
                                <li>{{ ad.additional_details }}</li>
                            </ul>

                        </div>
                        <!--
                        <div class="d-flex justify-content-between align-items-center">
                             <span class="heart"><i class='bx bx-heart'></i></span>
                        </div>
                        -->
                         <div class="d-flex justify-content-between align-items-center">
                             <p><b>Persoana de contact:</b> {{ ad.contact_person }}</p>
                             <!-- <span class="heart"><i class='bx bx-heart'></i></span> -->
                        </div>
                        <div class="mt-2 pr-3 content">
                            <p><b>Tel:</b> {{ ad.phone_nr }}</p>
                        </div>
                        <div class="mt-2 pr-3 content">
                            <p> <b>Email:</b> {{ ad.email }}</p>
                        </div>
                         <div class="mt-2 pr-3 content">
                             <p> <b>Pret:</b> {{ ad.price }} LEI</p>
                             <p> <b>Stars:</b> {{ ad.get_rating|floatformat:1 }}</p>
                        </div>
                         <div class="mt-2 pr-3 content">
                            <p> <b>Localitate:</b> {{ ad.locality }}</p>
                        </div>

{#                        <h3>{{ service_provider.availability }}</h3>#}
                        <div class="ratings d-flex flex-row align-items-center">
                            <div class="d-flex flex-row"><i class='bx bxs-star'></i> <i class='bx bxs-star'></i> <i
                                    class='bx bxs-star'></i> <i class='bx bxs-star'></i> <i class='bx bx-star'></i>
                            </div>
                        </div>
                    </div>
                </div>
            <div class="col-md-6 border-end">
                    <div class="d-flex flex-column justify-content-center">
                        <div class="main_image">
                            <img style="width:100%;height:auto;object-fit: cover;" src="https://images.unsplash.com/photo-1593786267440-550458cc882a?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1074&q=80" id="main_product_image"></div>
                    </div>
                </div>
                <hr>
                <h5 style="background-color:lightgrey;padding:2px;width:100%;">Reviews</h5>
                <div class="reviews-wrapper" style="font-size:12px;">
                    {% for review in ad.reviews.all %}
                        <div class="notification space-below">
                            <p>
                                <strong>Date:</strong>{{ review.date_added|date:"Y-m-d" }}
                                <br>
                                <strong>Stars:</strong>{{ review.stars }}
                            </p>
                            {{ review.content }}
                        </div>
                        {% empty %}
                        <div class="notifications space-below" style="font-size:12px;">
                            No reviews yet...
                        </div>
                    {% endfor %}
                </div>
                <div class="notifications space-below" style="font-size:12px;">
                    {% if request.user.is_authenticated and perms.site_verificat_app.add_beneficiaryrequest %}



                        <form method="post" action="" style="top:50px;max-width:100%;">
                            {% csrf_token %}


                            <div style="display:flex;">

                                <div class="field" style="width:15%;">
                                    <label>Stars</label>
                                    <div class="control">
                                        <div class="select">
                                            <select name="stars" style="width:100%;height:50px;">
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3" selected>3</option>
                                                <option value="4">4</option>
                                                <option value="5">5</option>

                                            </select>

                                        </div>

                                    </div>

                                </div>

                                <div class="field" style="width:70%;">
                                    <label>Content</label>

                                    <div class="control">
                                        <textarea class="textarea" name="content" style="width:100%;height:50px;"></textarea>
                                    </div>
                                </div>

                                <div class="field" style="width:15%;">
                                <div class="control">
                                    <label></label>
                                    <button class="button is-success" style="width:100%;height:50px;">Submit</button>
                                </div>
                            </div>

                            </div>

                        </form>
                    {% else %}
                        <p>Please sign in to add reviews!</p>
                    {% endif %}

                </div>
            </div>
        </div>
    </div>

{% endblock %}