{% extends 'pages/admin_page.html' %}
{% extends 'base2.html' %}

{% block title %} Add Comment {% endblock %}
{% block body %}
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Add Comment</button>
    </form>

{% endblock %}