{% extends 'base2.html' %}

{% block title %} Admin page {% endblock %}
{% block body %}

    {% if perms.site_verificat_app.view_category %}
        <a class="btn btn-primary" href="{% url 'category_all_view' %}" role="button">List Categories</a>
    {% endif %}

    {% if perms.site_verificat_app.add_category %}
        <a class="btn btn-success" href="{% url 'category_create' %}" role="button">Create Category</a>
    {% endif %}

    {% if perms.site_verificat_app.view_service_provider %}
        <a class="btn btn-outline-primary" href="{% url 'service_provider_all_view' %}" role="button">List Service
            Providers</a>
    {% endif %}

    {% if perms.site_verificat_app.add_service_provider %}
        <a class="btn btn-outline-success" href="{% url 'service_provider_create' %}" role="button">Create Service
            Provider</a>
    {% endif %}
    {% if perms.site_verificat_app.view_beneficiary %}
        <a class="btn btn-outline-primary" href="{% url 'beneficiary_all_view' %}" role="button">Lista Beneficiari</a>
    {% endif %}

    {% if perms.site_verificat_app.add_beneficiary %}
        <a class="btn btn-outline-success" href="{% url 'beneficiary_create' %}" role="button">Adauga Beneficiar</a>
    {% endif %}
    {% if perms.site_verificat_app.view_ad %}
        <a class="btn btn-primary" href="{% url 'ad_all_view' %}" role="button">Lista anunturi</a>
    {% endif %}

    {% if perms.site_verificat_app.add_ad %}
        <a class="btn btn-success" href="{% url 'ad_create' %}" role="button"><b>+</b> Anunt</a>
    {% endif %}
    {% if perms.site_verificat_app.view_beneficiary_request %}
        <a class="btn btn-primary" href="{% url 'beneficiary_request_all_view' %}" role="button">Lista Cereri</a>
    {% endif %}

    {% if perms.site_verificat_app.add_beneficiary_request %}
        <a class="btn btn-success" href="{% url 'beneficiary_request_create' %}" role="button">Adauga Cerere</a>
    {% endif %}

    {% if request.user.is_staff %}
        <a class="btn btn-dark" href="{% url 'admin_page' %}" role="button">Home admin</a>
    {% endif %}
    {#    <a class="btn btn-primary" href="{% url 'article_update' %}" role="button">Update article</a>#}
    {#    <a class="btn btn-primary" href="{% url 'article_delete' %}" role="button">Delete article</a>#}

    {% block admin_content %}{% endblock %}
{% endblock %}