{% extends 'base.html' %}

{% block title %} Rezultatul Cautarii {% endblock %}
{% block body %}
{% include 'partials/title_and_products_block.html' with title='Rezultatul cautarii' %}
            {% for service_provider in service_providers %}
            <p>{{ service_provider }}</p>
        {% endfor %}
{% endblock %}

{#    <form method="get" style="margin-bottom:100px;">#}
{#        {% csrf_token %}#}
{#            <div class="input-group mb-3">#}
{#            <label class="input-group-text" for="inputGroupZone"><b>Zona</b></label>#}
{#                <input class="form-control" type="text" id="zone" name="zone" style="height:38px;border-top-right-radius:3px;border-bottom-right-radius:3px;" placeholder="Introduceti zona..." required><br>#}
{#        </div>#}
{##}
{##}
{##}
{#        <div class="input-group mb-3">#}
{#            <label class="input-group-text" for="inputGroupRadius"><b>Radius</b></label>#}
{#            <select class="form-select" id="inputGroupRadius" name="radius">#}
{#                                        <option selected>Alege...</option>#}
{#                <option value="0">+0 km</option>#}
{#                <option value="10">+10 km</option>#}
{#                <option value="50">+50 km</option>#}
{#            </select>#}
{#        </div>#}
{##}
{##}
{#        <div class="input-group mb-3">#}
{#            <label class="input-group-text" for="inputGroupCategory"><b>Category</b></label>#}
{#            <select class="form-select" id="inputGroupCategory" name="category">#}
{#                {% for category in categories %}#}
{#                    {% if not category.parent_category %}#}
{#                        <option value="{{ category.id }}"><b>{{ category.name }}</b></option>#}
{#                                                        <a class="dropdown-item text-light bg-dark"#}
{#                                                               href="{% url 'category_details' category.id %}"><b>{{ category.name }}</b></a>#}
{#                        {% for subcateg in categories %}#}
{#                            {% if subcateg.parent_category == category %}#}
{#                                <option value="{{ subcateg.id }}">{{ subcateg.name }}</option>#}
{#                                                                        <a class="dropdown-item text-light bg-dark"#}
{#                                                                             href="{% url 'category_details' subcateg.id %}">&nbsp;&nbsp;{{ subcateg.name }}</a>#}
{#                            {% endif %}#}
{#                        {% endfor %}#}
{#                    {% endif %}#}
{#                {% endfor %}#}
{#            </select>#}
{#        </div>#}
{##}
{##}
{#        <div class="input-group mb-3">#}
{#            <label class="input-group-text" for="inputGroupType"><b>Tip</b></label>#}
{#            <select class="form-select" id="inputGroupType" name="inputGroupType">#}
{#                <option selected>Alege...</option>#}
{#                <option value="1">Vezi toate</option>#}
{#                <option value="2"><b>Persoana Fizica</b></option>#}
{#                <option value="3"><b>Companie</b></option>#}
{#            </select>#}
{#        </div>#}
{#        <div class="input-group mb-3">#}
{#            <label class="input-group-text" for="inputGroupRating"><b>Rating</b></label>#}
{#            <select class="form-select" id="inputGroupRating" name="inputGroupRating">#}
{#                <option selected>Alege...</option>#}
{#                <option value="1">*</option>#}
{#                <option value="2">**</option>#}
{#                <option value="3">***</option>#}
{#                <option value="4">****</option>#}
{#                <option value="5">*****</option>#}
{#            </select>#}
{#        </div>#}
{##}
{##}
{#        <div class="form-check" style="padding:0px;margin-bottom:15px;">#}
{#            <input type="checkbox" value="" id="flexCheckIndeterminate"#}
{#                   name="flexCheckIndeterminate" style="vertical-align:middle;">#}
{#            <label class="form-check-label" for="flexCheckIndeterminate">Doar anunturi cu poza</label>#}
{#        </div>#}
{##}
{#         de facut field pentru cautare dupa perioada de la....pana la.#}
{##}
{#            <button type="submit" class="search-button" style="width:100%;background-color:green;border:none;border-radius:10px;color:white;height:30px;"><b>Cautare</b></button>#}
{#            <br>#}
{#            <span class="instruction">Verifica daca ai completat corect campurile inainte de a cauta!</span>#}
{#                formular de mana html field-urile ca input type text cu text area#}
{#        {{ form.as_p }}#}
{##}
{#    </form>#}

{#{% include 'partials/title_and_products_block.html' with title='Rezultatul cautarii' %}#}
{##}
{#        {% for service_provider in service_providers %}#}
{#            <p>{{ service_provider }}</p>#}
{#        {% endfor %}#}
{#{% endblock %}#}
