{% extends 'pages/admin_page.html' %}
{#{% extends 'base.html' %}#}

{% block title %} Add Beneficiary {% endblock %}
{% block admin_content %}
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Add Beneficiary</button>
    </form>

{% endblock %}