{% extends 'pages/admin_page.html' %}

{% block title %} All Beneficiaries Requests View {% endblock %}
{% block admin_content %}
{#    <a class="btn btn-success"#}
{#       href="{% url 'category_create' %}" style="margin-top: 120px;">Create</a>#}
    <div class="row">
        {% for beneficiary_request in beneficiaries_requests %}
             {% if request.user.id == beneficiary_request.beneficiary_id %}
            <div class="card col-xl-3 col-lg-4 col-md-6 col-sm-12 border-primary border-2 mb-1 me-1"
                 style="max-width: 20rem;">
                <div class="card-header fw-bold">{{ beneficiary_request.title }}</div>
                <div class="card-body">
                    {% if perms.site_verificat_app.change_beneficiary_request %}
                        <a class="btn btn-primary btn-sm" href="{% url 'beneficiary_request_update' beneficiary_request.id %}" role="button">Update</a>
                    {% endif %}

                    {% if perms.site_verificat_app.change_beneficiary_request %}
                        <a class="btn btn-danger btn-sm" href="{% url 'beneficiary_request_delete' beneficiary_request.id %}" role="button">Delete</a>
                    {% endif %}

                    <a class="btn btn-secondary btn-sm" href="{% url 'beneficiary_request_details' beneficiary_request.id %}" role="button">Beneficiary Request
                        details</a>
                </div>
            </div>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}