{#{% extends 'base.html' %}#}
{##}
{#{% block title %} Beneficiary admin page {% endblock %}#}
{#{% block body %}#}
{##}
{#    {% if perms.site_verificat_app.view_beneficiary_request %}#}
{#        <a class="btn btn-primary" href="{% url 'beneficiary_request_all_view' %}" role="button">Lista Cereri</a>#}
{#    {% endif %}#}
{##}
{#    {% if perms.site_verificat_app.add_beneficiary_request %}#}
{#        <a class="btn btn-success" href="{% url 'beneficiary_request_create' %}" role="button">Adauga Cerere</a>#}
{#    {% endif %}#}
{##}
{#        {% if request.user.is_staff %}#}
{#    <a class="btn btn-dark" href="{% url 'beneficiary_admin_page' %}" role="button">Home admin</a>#}
{#        {% endif %}#}
{#            <a class="btn btn-primary" href="{% url 'beneficiary_update' %}" role="button">Update beneficiary</a>#}
{#            <a class="btn btn-primary" href="{% url 'beneficiary_delete' %}" role="button">Delete beneficiary</a>#}
{#            <a class="btn btn-primary" href="{% url 'beneficiary_request_update' %}" role="button">Update beneficiary_request</a>#}
{#            <a class="btn btn-primary" href="{% url 'beneficiary_request_delete' %}" role="button">Delete beneficiary_request</a>#}
{#    {% block beneficiary_admin_content %}{% endblock %}#}
{#{% endblock %}#}