{% extends 'pages/admin_page.html' %}

{% block title %} All categories view {% endblock %}
{% block admin_content %}
    {% for category in categories %}
        {% if not category.parent_category %}
            <div class="card bg-dark text-white mb-1" style="max-width: 20rem;">
                <div class="card-header fw-bold">{{ category.name }}</div>
                <div class="card-body">
                    {% if perms.site_verificat_app.change_category %}
                        <a class="btn btn-primary btn-sm" href="{% url 'category_update' category.id %}" role="button">Update</a>
                    {% endif %}
                    {% if perms.site_verificat_app.add_category %}
                        <a class="btn btn-success btn-sm" href="{% url 'category_create' %}" role="button">Create
                            SubCategory</a>
                    {% endif %}
                    {% if perms.site_verificat_app.delete_category %}
                        <a class="btn btn-danger btn-sm" href="{% url 'category_delete' category.id %}"
                           role="button">Delete</a>
                    {% endif %}
                </div>
            </div>
            {% for subcateg in categories %}
                {% if subcateg.parent_category == category %}
                    <div class="card border-primary border-2 mb-1" style="max-width: 20rem;">
                        <div class="card-header fw-bold">{{ subcateg.name }}</div>
                        <div class="card-body">
                            {% if perms.site_verificat_app.change_category %}
                                <a class="btn btn-primary btn-sm" href="{% url 'category_update' subcateg.id %}"
                                   role="button">Update</a>
                            {% endif %}
                            {% if perms.site_verificat_app.delete_category %}
                                <a class="btn btn-danger btn-sm" href="{% url 'category_delete' subcateg.id %}"
                                   role="button">Delete</a>
                            {% endif %}
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endfor %}
{% endblock %}
