{% extends 'base2.html' %}
{#<style>#}
{#    .detailsCards {#}
{#        max-width:800px;#}
{#        margin:auto;#}
{#        text-align:center;#}
{#    }#}
{##}
{#    .titleCard {#}
{#        margin-bottom:60px;#}
{#        margin-top:60px;#}
{#    }#}
{##}
{##}
{#    .card {#}
{#        display: flex;#}
{#        flex-direction: row;#}
{#        padding:0px;#}
{#        height:170px;#}
{#        margin-bottom:10px;#}
{#    }#}
{##}
{#    .imgCard {#}
{#        width:30%;#}
{#        border:4px solid white;#}
{##}
{#    }#}
{##}
{#    .card-img-top {#}
{#        width:100%;#}
{#        height:100%;#}
{#        object-fit: cover;#}
{#    }#}
{##}
{#    .card-body {#}
{#        width:70%;#}
{#        position:relative;#}
{#    }#}
{##}
{#    .round {#}
{#        position:absolute;#}
{#        background-color:red;#}
{#        color:white;#}
{#        font-size:14px;#}
{#        width:100px;#}
{#        height:100px;#}
{#        border-radius: 100px;#}
{#        top:0px;#}
{#        left:0px;#}
{#        padding:40px 0px;#}
{#    }#}
{##}
{#</style>#}
{% block body %}
{#    {% include 'partials/title_and_products_block.html' with title=category.name %}#}
{#    {% include 'partials/title_and_categories_block.html' with title=category.name %}#}
    {% include 'partials/title_and_ads_block.html' with title=category.name %}
{#    {% include 'partials/title_and_beneficiary_block.html' with title=category.name %}#}
{#    {% include 'partials/title_and_beneficiary_request_block.html' with title=category.name %}#}
{#    {% include 'partials/title_and_message_block.html' with title=category.name %}#}

{#    <div class="container-xl detailsCards">#}
{#        <h3 class="titleCard">{{ title }}</h3>#}
{#        <div class="titleCards row">#}
{#            {% for ad in ads %}#}
{#                <!-- col-xl-3 col-lg-4 col-md-6 col-sm-12 ASTEA TINEAU DE CARD -->#}
{#                <div class="card">#}
{#                    <div class="imgCard">#}
{#                        <img src="{{ ad.image.url }}" class="card-img-top" alt="{{ ad.title }}">#}
{#                    </div>#}
{##}
{#                    <div class="card-body">#}
{#                        <!-- <div class="round">{{ ad.type }}</div> -->#}
{#                       <h4 class="card-title"><strong>{{ ad.title }}</strong> | {{ ad.type }}</h4>#}
{#                    <p class="card-text">{{ ad.email }}<br>{{ ad.text_ad }} <strong>Tel:</strong> {{ ad.phone_nr }}</p>#}
{#                    <a href="#" class="btn btn-primary m-1">Adauga in lista</a>#}
{#                    <a href="{% url 'ad_details' ad.id %}" class="btn btn-secondary m-1">Detalii suplimentare</a>#}
{#                        </p>#}
                        {#                        <a href="#" class="btn btn-primary m-1">Adauga in lista favorite</a>#}
                        {#    pentru a trimite mesaj preastorului <a href="{% url 'service_provider_details' service_provider.id %}" class="btn btn-secondary m-1">Detalii suplimentare</a>#}
{##}
{#                    </div>#}
{#                </div>#}
{#            {% endfor %}#}
{#        </div>#}
{#    </div>#}

{% endblock %}