{% extends 'pages/admin_page.html' %}
{% block title %} All Message View {% endblock %}
{% block admin_content %}
{#    <a class="btn btn-success"#}
{#       href="{% url 'category_create' %}" style="margin-top: 120px;">Create</a>#}
    <div class="row">
        {% for message in messages %}
            <div class="card col-xl-3 col-lg-4 col-md-6 col-sm-12 border-primary border-2 mb-1 me-1"
                 style="max-width: 20rem;">
                <div class="card-header fw-bold">{{ message.title }}</div>
                <div class="card-body">
{#                    {% if perms.site_verificat_app.change_message %}#}
{#                        <a class="btn btn-primary btn-sm" href="{% url 'message_update' ad.id %}" role="button">Update</a>#}
{#                    {% endif %}#}

                    {% if perms.site_verificat_app.change_message %}
                        <a class="btn btn-danger btn-sm" href="{% url 'message_delete' message.id %}" role="button">Delete</a>
                    {% endif %}

                    <a class="btn btn-secondary btn-sm" href="{% url 'message_details' message.id %}" role="button">Message
                        details</a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}