{#{% extends 'base.html' %}#}
{#{% if request.user.is_staff %}#}
{% extends 'pages/admin_page.html' %}
{#{% endif %}#}

{% block title %} Adauga Mesaj {% endblock %}
{% block body %}
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Adauga Mesaj</button>
    </form>

{% endblock %}