{% extends 'base2.html' %}
{% block body %}
     <div class="container" style="margin-top: 200px">
        <div class="card">
            <div class="row g-0">
                <div class="col-md-6">
                    <div class="p-3 right-side">
                        <div class="d-flex justify-content-between align-items-center">
                            <h3>{{ message.title }}</h3> <span class="heart"><i class='bx bx-heart'></i></span>
                        </div>
                        <div class="d-flex justify-content-between align-items-center">
                            <h5><b>{{ message.user_name }}</b></h5> <span class="heart"><i class='bx bx-heart'></i></span>
                        </div>

                        <div class="mt-2 pr-3 content">
                            <p><b>Mesaj:</b></p>
                            <p>{{ message.message }}</p>
                        </div>
                        <div class="d-flex justify-content-between align-items-center">
                            <h5><b>{{ message.date }}</b></h5> <span class="heart"><i class='bx bx-heart'></i></span>
                        </div>
{#                        <h3>{{ service_provider.availability }}</h3>#}
                        <div class="ratings d-flex flex-row align-items-center">
                            <div class="d-flex flex-row"><i class='bx bxs-star'></i> <i class='bx bxs-star'></i> <i
                                    class='bx bxs-star'></i> <i class='bx bxs-star'></i> <i class='bx bx-star'></i>
                            </div>
                        </div>
                    </div>
                </div>
            <div class="col-md-6 border-end">
                    <div class="d-flex flex-column justify-content-center">
                        <div class="main_image"><img src="https://images.unsplash.com/photo-1593786267440-550458cc882a?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1074&q=80" id="main_product_image"
                                                     width="350"></div>
                        <div class="thumbnail_images">
                            <ul id="thumbnail">
                                <li><img onclick="changeImage(this)" src="https://images.unsplash.com/photo-1601303981778-0f61e3d2da64?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1938&q=80" width="70">
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}