{% extends 'base2.html' %}
{% block title %}Profil{% endblock title %}
{% block content %}
<h1>
Test
</h1>
    <section class="section-content padding-y bg">

        <div class="container">
            <div class="row">
                <main class="col-md-9">
                    <article class="card">
                        <header class="card-header">
                            <strong class="d-inline-block mr-3"> Edit your profile</strong>
                        </header>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <form action="{% url 'profile' %}" method="POST" enctype="multipart/form-data">
                                        {% csrf_token %}
                                        <div class="form-row">
                                            <div class="form-group col-md-6">
                                                <label>Name</label>
                                                {{ user_form.name }}
                                            </div>
                                            <div class="form-group col-md-6">
                                                <label>E-mail</label>
                                                {{ user_form.email }}
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="form-group col-md-6">
                                                <label>Phone Number</label>
                                                {{ user_form.phone_nr }}
                                            </div>
                                        </div>
{#                                        <div class="form-group">#}
{#                                            <label>Locality</label>#}
{#                                            {{ profile_form.locality }}#}
{#                                        </div>#}
{#                                        <div class="form-group">#}
{#                                            <label>Judet</label>#}
{#                                            {{ profile_form.judet}}#}
{#                                        </div>#}
                                        <input type="submit" value="Save" class="btn btn-primary">
                                    </form>
                                </div>

                            </div> <!-- row.// -->
                        </div> <!-- card-body .// -->
                    </article> <!-- order-group.// -->
                </main>
            </div> <!-- row.// -->
        </div>


    </section>

{% endblock %}



{#{% block head %}#}
{#    <title>Profile</title>#}
{#{% endblock %}#}
{#{% block body %}#}
{#    <div class="container">#}
{#    <h1>Profile</h1>#}
{#    <p>Username: {{ user }}</p>#}
{#    <p>Name: {{ user.name }}</p>#}
{#    <p>Email: {{ user.email }}</p>#}
{#    <p>Phone: {{ user.profile.phone }}</p>#}
{#    <p>Description: {{ user.profile.description }}</p>#}
{#    </div>#}
{#{% endblock %}#}