{#{% extends 'base.html' %}#}
{#{% extends 'pages/admin_page.html' %}#}
{##}
{#{% block title %} Adauga Rating {% endblock %}#}
{#{% block body %}#}
{#    <form method="post" enctype="multipart/form-data">#}
{#        {% csrf_token %}#}
{#        {{ form.as_p }}#}
{#        <button type="submit">Adauga Rating</button>#}
{#    </form>#}
{##}
{#{% endblock %}#}