{#{% extends 'pages/admin_page.html' %}#}
{##}
{#{% block title %} All Ratings View {% endblock %}#}
{#{% block body %}#}
{#    <a class="btn btn-success"#}
{#       href="{% url 'category_create' %}" style="margin-top: 120px;">Create</a>#}
{#    <div class="row">#}
{#        {% for rating in ratings %}#}
{#            <div class="card col-xl-3 col-lg-4 col-md-6 col-sm-12 border-primary border-2 mb-1 me-1"#}
{#                 style="max-width: 20rem;">#}
{#                <div class="card-header fw-bold">{{ rating.rate }}</div>#}
{#                <div class="card-body">#}
{#                    {% if perms.site_verificat_app.change_rating %}#}
{#                        <a class="btn btn-danger btn-sm" href="{% url 'rating_delete' rating.id %}" role="button">Delete</a>#}
{#                    {% endif %}#}
{##}
{#                    <a class="btn btn-secondary btn-sm" href="{% url 'rating_details' rating.id %}" role="button">Rating#}
{#                        details</a>#}
{#                </div>#}
{#            </div>#}
{#        {% endfor %}#}
{#    </div>#}
{#{% endblock %}#}