{% extends 'base2.html' %}
{% block body %}

    <form method="post">
        {% csrf_token %}
        {{ user_form.as_p }}
        {{ beneficiary_form.as_p }}
        <button type="submit">Register</button>
    </form>
{% endblock %}