{% extends 'base2.html' %}
{% load static %}
<style>
    /* Hide Radio button */
.rate > input{
  display: none;
}

.rate{
  display: inline-block;;
  border: 0;
}

.rate > label{
  float: right;
}

/* Showing the stars */
.rate > label:before{
  display: inline-block;
  font-size: 1.1rem;
  font-family: FontAwesome, serif;
  content: "\f005";
  margin:0;
  padding:0.3rem .2rem;
  cursor: pointer;
}

/* Half star */
.rate .half:before{
  content: "\f089";
  position: absolute;
  padding-right: 0;
}

/* Click and hover */
input:checked ~ label, label:hover ~ label{
  color: #ffb503;
}

/* hover hightlight */
input:checked + label:hover, input:checked ~ label:hover,input:checked ~ label:hover ~ label,
label:hover ~ input:checked ~ label{
  color: #cc9000;
}

.rating-star i{
  color: #ffb503 !important;
}

</style>

{% block body %}
    <div class="container" style="margin-top: 200px">
        <div class="card" style="height: auto">
            <div class="row g-0">
                <div class="col-md-6" style="height:auto">
                    <div class="p-3 right-side">
                        <div class="d-flex justify-content-between align-items-center">
                            <h3>{{ service_provider.name }}</h3> <span class="heart"><i class='bx bx-heart'></i></span>
                        </div>
                        <div class="d-flex justify-content-between align-items-center">
                            <h5><b>{{ service_provider.type }}</b></h5> <span class="heart"><i class='bx bx-heart'></i></span>
                        </div>
                        <div class="mt-2 pr-3 content">
                            <p><b>Descriere Detaliata:</b></p>
                            <p>{{ service_provider.description }}</p>
                        </div>
                        <div class="mt-2 pr-3 content">
                            <p><b>tel:</b> {{ service_provider.phone_nr }}</p>
                        </div>
                        <div class="mt-2 pr-3 content">
                            <p><b>email:</b> {{ service_provider.email }}</p>
                        </div>

                        {#                                                <h3>{{ service_provider.availability }}</h3>#}
                        {#                        <div class="ratings d-flex flex-row align-items-center">#}
                        {#                            <div class="d-flex flex-row"><i class='bx bxs-star'></i> <i class='bx bxs-star'></i> <i#}
                        {#                                    class='bx bxs-star'></i> <i class='bx bxs-star'></i> <i class='bx bx-star'></i>#}
                        {#                            </div>#}
                        {#                        </div>#}
                    </div>
                </div>
                <div class="col-md-6 border-end">
                    <div class="d-flex flex-column justify-content-center">
                        <div class="main_image"><img
                                src="https://images.unsplash.com/photo-1593786267440-550458cc882a?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1074&q=80"
                                id="main_product_image"
                                width="350"></div>
                        <div class="thumbnail_images">
                            <ul id="thumbnail">
                                <li><img onclick="changeImage(this)"
                                         src="https://images.unsplash.com/photo-1601303981778-0f61e3d2da64?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1938&q=80"
                                         width="70">
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

{#        <main class="col-md-6 border-left">#}
{##}
{#            <form action="#" method="POST">#}
{#                {% csrf_token %}#}
{#                <service-provider class="content-body">#}
{#                    <h2 class="title">{{ service_provider.name }}</h2>#}
{#                    <div class="rating-star">#}
{#                    <span>#}
{#                        <i class="fa fa-star{% if single_product.averageReview < 0.5 %}-o{% elif single_product.averageReview >= 0.5 and single_product.averageReview < 1 %}-half-o {% endif %}"#}
{#                           aria-hidden="true"></i>#}
{#                        <i class="fa fa-star{% if single_product.averageReview < 1.5 %}-o{% elif single_product.averageReview >= 1.5 and single_product.averageReview < 2 %}-half-o {% endif %}"#}
{#                           aria-hidden="true"></i>#}
{#                        <i class="fa fa-star{% if single_product.averageReview < 2.5 %}-o{% elif single_product.averageReview >= 2.5 and single_product.averageReview < 3 %}-half-o {% endif %}"#}
{#                           aria-hidden="true"></i>#}
{#                        <i class="fa fa-star{% if single_product.averageReview < 3.5 %}-o{% elif single_product.averageReview >= 3.5 and single_product.averageReview < 4 %}-half-o {% endif %}"#}
{#                           aria-hidden="true"></i>#}
{#                        <i class="fa fa-star{% if single_product.averageReview < 4.5 %}-o{% elif single_product.averageReview >= 4.5 and single_product.averageReview < 5 %}-half-o {% endif %}"#}
{#                           aria-hidden="true"></i>#}
{#                        <span>{{ service_provider.countReview }} reviews</span>#}
{#                        </span>#}
{#                    </div>#}
{#            </form>#}
{#        </main> <!-- col.// -->#}
{#                <div class="row">#}
{#                    <div class="col-md-9">#}
{##}
{##}
{#              <form action="{% url 'submit_review' service_provider.id %}" method="POST">#}
{#                    <form action="" method="POST">#}
{#                        {% csrf_token %}#}
{#                        <h5>Scrieti parerea aici</h5>#}
{##}
{#                        <div>#}
{#                            <!-- Rating stars -->#}
{#                            <label>Cum evaluezi acest Prestator de Servicii?</label>#}
{#                            <br>#}
{#                            <div class="rate">#}
{#                                <input type="radio" name="rating" id="rating10" value="5" required/><label#}
{#                                    for="rating10" title="5"></label>#}
{#                                <input type="radio" name="rating" id="rating9" value="4.5" required/><label#}
{#                                    for="rating9" title="4.5" class="half"></label>#}
{#                                <input type="radio" name="rating" id="rating8" value="4" required/>#}
{#                                    <label for="rating8" title="4"></label>#}
{#                                <input type="radio" name="rating" id="rating7" value="3.5" required/>#}
{#                                    <label for="rating7" title="3.5" class="half"></label>#}
{#                                <input type="radio" name="rating" id="rating6" value="3" required/>#}
{#                                    <label for="rating6" title="3"></label>#}
{#                                <input type="radio" name="rating" id="rating5" value="2.5" required/>#}
{#                                    <label for="rating5" title="2.5" class="half"></label>#}
{#                                <input type="radio" name="rating" id="rating4" value="2" required/>#}
{#                                    <label for="rating4" title="2"></label>#}
{#                                <input type="radio" name="rating" id="rating3" value="1.5" required/>#}
{#                                    <label for="rating3" title="1.5" class="half"></label>#}
{#                                <input type="radio" name="rating" id="rating2" value="1" required/>#}
{#                                    <label for="rating2" title="1"></label>#}
{#                                <input type="radio" name="rating" id="rating1" value="0.5" required/>#}
{#                                    <label for="rating1" title="0.5" class="half"></label>#}
{#                            </div>#}
{#                            <br>#}
{#                            Review Title:#}
{#                            <input type="text" class="form-control" name="subject">#}
{#                            <br>#}
{#                            Review:#}
{#                            <textarea name="review" rows="4" class="form-control"></textarea>#}
{#                            <br>#}
{#                            {% if user.is_authenticated %}#}
{#                                <input type="submit" value="Submit Review" class="btn btn-primary">#}
{#                            {% else %}#}
{#                                <p>Trebuie sa fi logat ca sa postezi un comentariu. <span><a#}
{#                                        href="{% url 'login' %}">Login now</a></span></p>#}
{#                            {% endif %}#}
{#                    </service-provider> <!-- product-info-aside .// -->#}
{#                        </div>#}
{#                        {% include 'includes/alerts.html' %}#}
{#                    </form>#}
{#                    <br>#}
{#                    <header class="section-heading">#}
{#                        <h3>Customer Reviews </h3>#}
{#                        <div class="rating-star">#}
{#		<span>#}
{#			<i class="fa fa-star{% if single_product.averageReview < 0.5 %}-o{% elif single_product.averageReview >= 0.5 and single_product.averageReview < 1 %}-half-o {% endif %}"#}
{#               aria-hidden="true"></i>#}
{#			<i class="fa fa-star{% if single_product.averageReview < 1.5 %}-o{% elif single_product.averageReview >= 1.5 and single_product.averageReview < 2 %}-half-o {% endif %}"#}
{#               aria-hidden="true"></i>#}
{#			<i class="fa fa-star{% if single_product.averageReview < 2.5 %}-o{% elif single_product.averageReview >= 2.5 and single_product.averageReview < 3 %}-half-o {% endif %}"#}
{#               aria-hidden="true"></i>#}
{#			<i class="fa fa-star{% if single_product.averageReview < 3.5 %}-o{% elif single_product.averageReview >= 3.5 and single_product.averageReview < 4 %}-half-o {% endif %}"#}
{#               aria-hidden="true"></i>#}
{#			<i class="fa fa-star{% if single_product.averageReview < 4.5 %}-o{% elif single_product.averageReview >= 4.5 and single_product.averageReview < 5 %}-half-o {% endif %}"#}
{#               aria-hidden="true"></i>#}
{#	<span>{{ single_product.countReview }} reviews</span>#}
{#			</span>#}
{#                        </div>#}
{##}
{#                    </header>#}
{##}
{#                    {% for review in reviews %}#}
{#                        <service-provider class="box mb-3">#}
{#                            <div class="icontext w-100">#}
{##}
{#                                <div class="text">#}
{#                                    <span class="date text-muted float-md-right">{{ review.updated_at }} </span>#}
{#                                    <h6 class="mb-1">{{ review.user.name }} </h6>#}
{#                                    <div class="rating-star">#}
{#								<span>#}
{#									<i class="fa fa-star{% if review.rating == 0.5 %}-half-o{% elif review.rating < 1 %}-o {% endif %}"#}
{#                                       aria-hidden="true"></i>#}
{#									<i class="fa fa-star{% if review.rating == 1.5 %}-half-o{% elif review.rating < 2 %}-o {% endif %}"#}
{#                                       aria-hidden="true"></i>#}
{#									<i class="fa fa-star{% if review.rating == 2.5 %}-half-o{% elif review.rating < 3 %}-o {% endif %}"#}
{#                                       aria-hidden="true"></i>#}
{#									<i class="fa fa-star{% if review.rating == 3.5 %}-half-o{% elif review.rating < 4 %}-o {% endif %}"#}
{#                                       aria-hidden="true"></i>#}
{#									<i class="fa fa-star{% if review.rating == 4.5 %}-half-o{% elif review.rating < 5 %}-o {% endif %}"#}
{#                                       aria-hidden="true"></i>#}
{#								</span>#}
{#                                    </div>#}
{#                                </div>#}
{#                            </div> <!-- icontext.// -->#}
{#                            <div class="mt-3">#}
{#                                <h6>{{ review.subject }}</h6>#}
{#                                <p>#}
{#                                    {{ review.review }}#}
{#                                </p>#}
{#                            </div>#}
{#                        </service-provider>#}
{#                    {% endfor %}#}
{##}
{#                </div> <!-- col.// -->#}
{#            </div> <!-- row.// -->#}

{#                <div class="row">#}
{#                    <div class="col-md-6">#}
{#                        <h4 class="text-uppercase">Scrie o recenzie</h4>#}
{#                        {% if messages %}#}
{#                            {% for message in messages %}#}
{#                                <div class="alert alert-{{ message.tags }}" role="alert">#}
{#                                    {{ message }}#}
{#                                </div>#}
{#                            {% endfor %}#}
{#                        {% endif %}#}
{#                        <form class="review-form" action="/service_provider/submit_review/{{ service_provider.id }}" method="POST">#}
{#                        <form class="review-form" action="{% url 'submit_review' service_provider.id %}" method="POST">#}
{#                            {% csrf_token %}#}
{#                            <div class="form-group">#}
{#                                <input name="subject" class="input" type="text" placeholder="Subiectul tau"/>#}
{#                            </div>#}
{#                            <div class="form-group">#}
{#                                <textarea name="comment" class="input" type="text" placeholder="Recenzia ta"></textarea>#}
{#                            </div>#}
{#                            <div class="form-group">#}
{#                                <div class="input-rating">#}
{#                                    <strong class="text-uppercase">Recenzia ta</strong>#}
{#                                    <div class="stars">#}
{#                                        <input type="radio" id="star5" name="rate" value="5"/><label for="star5"></label>#}
{#                                        <input type="radio" id="star4" name="rate" value="4"/><label for="star4"></label>#}
{#                                        <input type="radio" id="star3" name="rate" value="3"/><label for="star3"></label>#}
{#                                        <input type="radio" id="star2" name="rate" value="2"/><label for="star2"></label>#}
{#                                        <input type="radio" id="star1" name="rate" value="1"/><label for="star1"></label>#}
{#                                    </div>#}
{#                                </div>#}
{#                            </div>#}
{#                            {% if request.user.is_authenticated %}#}
{#                                <button class="primary-btn">Submit</button>#}
{#                            {% else %}#}
{#                                Trebuie sa fi logat ca sa adaugi o recenzie#}
{#                            {% endif %}#}
{##}
{#                        </form>#}
{##}
{#                    </div>#}
{#                    <div class="col-md-6">#}
{##}
{#                        {% for rs in reviews %}#}
{#                            <div class="single-review">#}
{#                                <div class="review=heading">#}
{#                                    <div><a href="#"><i class="fa fa-user-o"></i>{{ rs.user.name }}</a></div>#}
{#                                    <div><a href="#"><i class="fa fa-user-o"></i>{{ rs.subject }}</a></div>#}
{#                                    <div><a href="#"><i class="fa fa-clock-o"></i>{{ rs.create_at }}</a></div>#}
{#                                    <div><a href="#"><i class="fa fa-clock-o"></i>{{ rs.rating }}</a></div>#}
{##}
{##}
{#                                    <div class="review-rating pull-right">#}
{#                                        <i class="fa fa star{% if rs.rating < 1 %}-o empty{% endif %}"></i>#}
{#                                        <i class="fa fa star{% if rs.rating < 2 %}-o empty{% endif %}"></i>#}
{#                                        <i class="fa fa star{% if rs.rating < 3 %}-o empty{% endif %}"></i>#}
{#                                        <i class="fa fa star{% if rs.rating < 4 %}-o empty{% endif %}"></i>#}
{#                                        <i class="fa fa star{% if rs.rating < 5 %}-o empty{% endif %}"></i>#}
{##}
{#                                    </div>#}
{##}
{#                                </div>#}
{#                                <div class="review-body">#}
{#                                    <p>{{ rs.review }}</p>#}
{#                                </div>#}
{##}
{#                            </div>#}
{#                        {% endfor %}#}
{#                    </div>#}
{#                </div>#}
{#    </div>#}
{% endblock %}