{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- icons -->
    <script src="https://kit.fontawesome.com/5281657ca3.js" crossorigin="anonymous"></script>

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
    <link href="{% static 'style.css' %}">
    <style>
        .container-header-fluid {
            background-color: bisque;
            height: 70px;
            margin-top: -5px;
            font-family: Vivaldi;
            text-align: -webkit-center;
            color: indigo;
        }

        .navbar {
            background-color: lightcyan;
        }

        .navbar-toggler {
            color: darkblue;
            border: 6px solid darkblue;
        }

        .container-body-fluid {
            height: 300px;
        }

        form:not(.d-flex) {
            position: relative;
            top: 200px;
            margin: auto;
            max-width: 800px;
            border: 4px solid white;
            padding: 20px;
            background-color: lightgrey;
        }

        form input {
            border-radius: 10px;
        }

        /*
        .searchForm {
            top:0px;
            padding:0px;
            border:none;
        }
         */

        .lista {
            display: none;
        }

        .logos:hover .lista {
            color: red;
        }

        body {
            font: 16px Arial, Verdana, Tahoma, Sans-serif;
        }

        {#.container {#}
        {#  width: 852px;#}
        {#  background: #ccc;#}
        {#  margin: 0 auto;#}
        {#  padding: 16px;#}

        .wrapper {
            margin: 8px 0;
        }

        .searchform {
        }

        .search-container {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: flex-start;
            align-content: stretch;
            align-items: flex-start;
        }

        input {
            min-width: 20px;
            padding: 8px;
            margin: 0 4px 0 0;
            border: 1px solid #666;
            border-radius: 5px;
            height: 30px;
        }

        .button {
            padding: 8px 16px;
            min-height: 48px;
            min-width: 10px;
            word-wrap: nowrap;
            background: #000;
            color: #fff;
            border: 1px solid #fff;
            border-radius: 5px;
        }

        input {
            order: 0;
            align-self: auto;
        }

        .search {
            flex: 2 1 auto;
            hight: 20px;

        }

        .category {
            flex: 1 1 auto;
        }

        .subcategory {
            flex: 1 1 auto;
        }

        .button {
            order: 4;
            flex: 0 1 auto;
            align-self: auto;
        }

        {#.stage {#}
        {#    text-align: center;#}
        {#    color: white;#}
        {#    font-weight: bolder;#}
        {#    max-width: 1200px;#}
        {#    margin: auto;#}
        {#    margin-top: 100px;#}
        {
        #}#}
        {##}
        {#.stage .searchForm {#}
        {#    display: flex;#}
        {#    background-color: white;#}
        {#    color: black;#}
        {#    border-radius: 10px;#}
        {#    align-items: center;#}
        {#    max-width: 1200px;#}
        {#    top: 10px;#}

        {##}
        {#.searchForm > div {#}
        {#    border-right: .5px solid black;#}
        {#    padding: 20px;#}
        {#    width: 16.66%;#}

        {##}
        {#.searchForm > div:last-child {#}
        {#    border-right: none;#}

        {##}
        {#.searchForm input, .searchForm select {#}
        {#    width: 100%;#}
        {#    height: 40px;#}

        {##}
        {#.caut {#}
        {#    width: 100%;#}
        {#    background-color: darkgreen;#}
        {#    border: none;#}
        {#    color: white;#}
        {#    height: 100%;#}
        {##}

        {##}
        {#.searchForm div label {#}
        {#    display: block;#}
        {#    width: 100%;#}
        {#    font-size: 14px;#}
        {#    text-align: left;#}
        {#    font-weight: lighter;#}

    </style>

    <title>{% block title %}{% endblock %}</title>
</head>
<body>
<div class="container-header-fluid">
    <h3><b>Parerea ta conteaza pentru ceilalti</b></h3>
    <h4><b>Parerea ta va ajuta pe alcineva sa faca alegerea corecta</b></h4>
</div>
<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <a class="logos navbar-brand" href="#"><b>VERIFICAT.RO</b></a>
        {#        <div class="lista">lista exemplu</div>#}
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'home' %}"><b>Home</b></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'about_us' %}"><b>Despre noi</b></a>
                </li>
                <li class="nav-item dropdown" id="dropdownMenuClickable">
                    <a class="nav-link dropdown-toggle" href="#" role="button" id="dropdownMenuClickable"
                       data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"
                       onclick="document.getElementById('prestatori').style='display:block'">
                        <b>Prestatori de Servicii</b>
                    </a>
                    <ul id="prestatori" class="dropdown-menu" aria-labelledby="dropdownMenuClickable"
                        onmouseover="document.getElementById('prestatori').style='display:block'"
                        onmouseout="document.getElementById('prestatori').style='display:none'">
                        {% for category in categories %}
                            {% if not category.parent_category %}
                                <li><a onmouseover="document.getElementById('{{ category.id }}').style='display:block'"
                                       class="dropdown-item"><b>{{ category.name }} &raquo;</b></a></li>
                                {#                                <li><a class="dropdown-item"#}
                                {#                                       href="{% url 'category_details' category.id %}"><b>{{ category.name }} &raquo;</b></a>#}
                                {#                                </li>#}
                                <div id="{{ category.id }}" style="display:none;">
                                    {% for subcateg in categories %}
                                        {% if subcateg.parent_category == category %}
                                            <li><a class="dropdown-item"

                                                   href="{% url 'category_details' subcateg.id %}">{{ subcateg.name }}
                                                &raquo;</a>
                                            </li>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </li>
                <li class="nav-item dropdown" id="dropdownMenuClickable">
                    <a class="nav-link dropdown-toggle" href="#" role="button" id="dropdownMenuClickable"
                       data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"
                       onclick="document.getElementById('beneficiari').style='display:block'">
                        <b>Cereri Beneficiari</b>
                    </a>
                    <ul id="beneficiari" class="dropdown-menu" aria-labelledby="dropdownMenuClickable"
                        onmouseover="document.getElementById('beneficiari').style='display:block'"
                        onmouseout="document.getElementById('beneficiari').style='display:none'">
                        </li>
                        <li><a class="dropdown-item" href="{% url 'beneficiary_request_create' %}">Adauga cerere</a>
                        </li>
                        <li><a class="dropdown-item" href="{% url 'beneficiary_request_all_view' %}">Vizulizare
                            cereri</a></li>
                        {#                        <li>#}
                        {#                            <hr class="dropdown-divider">#}
                        {#                        </li>#}
                        {#                        {% for category in categories %}#}
                        {#                            {% if not category.parent_category %}#}
                        {#                                <li><a onmouseover="document.getElementById('{{ category.id }}').style='display:block'"#}
                        {#                                       class="dropdown-item"><b>{{ category.name }} &raquo;</b></a></li>#}
                        {#                                <li><a class="dropdown-item"#}
                        {#                                       href="{% url 'category_details' category.id %}"><b>{{ category.name }} &raquo;</b></a>#}
                        {#                                </li>#}
                        {#                                <div id="{{ category.id }}" style="display:none;">#}
                        {#                                    {% for subcateg in categories %}#}
                        {#                                        {% if subcateg.parent_category == category %}#}
                        {#                                            <li><a class="dropdown-item"#}
                        {##}
                        {#                                                   href="{% url 'category_details' subcateg.id %}">{{ subcateg.name }}#}
                        {#                                                &raquo;</a>#}
                        {#                                            </li>#}
                        {#                                        {% endif %}#}
                        {#                                    {% endfor %}#}
                        {#                                </div>#}
                        {#                            {% endif %}#}
                        {#                        {% endfor %}#}
                    </ul>
                </li>
                {#                    {% if perms.site_verificat_app.add_ad %}#}
                {% if request.user.is_authenticated and perms.site_verificat_app.add_ad %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                           data-bs-toggle="dropdown" aria-expanded="false">
                            <b>{{ user.username }}</b>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="{% url 'ad_all_view' %}">Anunturile tale</a></li>
                            <li><a class="dropdown-item" href="{% url 'message_all_view' %}">Mesaje</a></li>
                            <li><a class="dropdown-item" href="{% url 'favourite_list' %}">Favorite</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">Setari cont</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">Incarcare Credit</a></li>
                            <li><a class="dropdown-item" href="#">Plati</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">Creditul tau:</a></li>
                        </ul>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'ad_create' %}"><b>+Anunt</b></a>

                    </li>
                {% endif %}
                {% if request.user.is_authenticated and perms.site_verificat_app.add_beneficiary_request %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                           data-bs-toggle="dropdown" aria-expanded="false">
                            <b>{{ user.username }}</b>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="{% url 'beneficiary_request_all_view' %}">Cererile
                                tale</a>
                            </li>
                            <li><a class="dropdown-item" href="{% url 'message_all_view' %}">Mesaje</a></li>
                            <li><a class="dropdown-item" href="{% url 'favourite_list' %}">Favorite</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">Setari cont</a></li>
                        </ul>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'beneficiary_request_create' %}"><b>+Cerere</b></a>
                    </li>
                {% endif %}
                {% if request.user.is_anonymous %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}"><b>Login</b></a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                           data-bs-toggle="dropdown" aria-expanded="false">
                            <b>Inregistrare</b>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'register_service_provider' %}">Prestatori Servicii</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'register_beneficiary' %}">Beneficiari</a>
                            </li>
                        </ul>
                        {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}"><b>Logout</b></a>
                    </li>

                {% endif %}
                {% if request.user.is_superuser %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                           data-bs-toggle="dropdown" aria-expanded="false">
                            <b>Admin</b>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="{% url 'category_all_view' %}">Categorii</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="{% url 'service_provider_all_view' %}">Service
                                Provider</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="{% url 'beneficiary_all_view' %}">Beneficiary</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="{% url 'ad_all_view' %}">Anunturi</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="{% url 'beneficiary_request_all_view' %}">Cereri</a></li>
                        </ul>
                    </li>
                {% endif %}
{#                {% if perms.site_verificat_app.add_ad %}#}
{#                    <li class="nav-item active">#}
{#                        <a class="nav-link" href="{% url 'ad_create' %}"><b>+Anunt</b></a>#}
{##}
{#                    </li>#}
{#                {% else %}#}
                    {#                {% if perms.site_verificat_app.add_beneficiary_request %}#}
{#                    <li class="nav-item active">#}
{#                        <a class="nav-link" href="{% url 'beneficiary_request_create' %}"><b>+Cerere</b></a>#}
{#                    </li>#}
{#                {% endif %}#}
{#                {% if perms.site_verificat_app.add_ad and perms.site_verificat_app.add_beneficiary_request  %}#}
{#                    <li class="nav-item active">#}
{#                        <a class="nav-link" href="{% url 'profile' %}"><b>Profil</b></a>#}
{#                    </li>#}
{#              {% endif %} #}
                {#                             <li class="nav-item active">#}
                {#                    <a class="nav-link" href="{% url 'message_create' %}"><b>Mesaje</b></a>#}
                {##}
                {#                </li>#}
                {% if request.user.is_authenticated %}
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'favourite_list' %}"><b>Favorite</b></a>

                    </li>
                {% endif %}


                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'advanced_searching' %}"><b>Cautare avansata</b></a>
                </li>
            </ul>
            <form class="d-flex" action="{% url 'search_results' %}">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"
                       name="user_search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>

<div class="imagine" style="z-index:-1;top:0px;left:0px;width:100%;height:100%;">
    <img style="opacity:.7;z-index:-1;position:fixed;top:0px;left:0px;width:100%;height:100%;object-fit:cover;"
         src="https://images.pexels.com/photos/955395/pexels-photo-955395.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940">
</div>
    {#    {% if perms.site_verificat_app.add_ad %}#}
    {% if request.user.is_authenticated and perms.site_verificat_app.add_ad %}
        <div class="container-header-fluid2 header-dark bg-dark">
            <header class="d-flex justify-content-center py-3">
                <ul class="nav nav-pills">
                    <li class="nav-item"><a href="{% url 'ad_all_view' %}" class="nav-link active" aria-current="page">Anunturile
                        mele</a></li>
                    <li class="nav-item"><a href="{% url 'message_all_view' %}" class="nav-link">Mesaje</a></li>
                    <li class="nav-item"><a href="{% url 'favourite_list' %}" class="nav-link">Favorite</a></li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button"
                           data-bs-toggle="dropdown" aria-expanded="false">
                            Setari cont
                        </a>
                        <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                            <li><a class="dropdown-item" href="{% url 'profile' %}">Profil</a></li>
                            <li><a class="dropdown-item" href="#">Parola</a></li>
                            <li><a class="dropdown-item" href="#">Notificari</a></li>
                        </ul>
                    </li>
                    <li class="nav-item"><a href="#" class="nav-link">Incarcare cont</a></li>
                    <li class="nav-item"><a href="#" class="nav-link">Plati</a></li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li class="nav-item"><a href="#" class="nav-link">Credit:</a></li>
                </ul>
            </header>
        </div>
    {% endif %}
{#             {% if perms.site_verificat_app.add_beneficiary %}#}
    {% if request.user.is_authenticated and perms.site_verificat_app.add_beneficiary_request %}
        <div class="container-header-fluid2 header-dark bg-dark">
            <header class="d-flex justify-content-center py-3">
                <ul class="nav nav-pills">
                    <li class="nav-item"><a href="{% url 'beneficiary_request_all_view' %}" class="nav-link active"
                                            aria-current="page">Cererile
                        mele</a></li>
                    <li class="nav-item"><a href="{% url 'message_all_view' %}" class="nav-link">Mesaje</a></li>
                    <li class="nav-item"><a href="{% url 'favourite_list' %}" class="nav-link">Favorite</a></li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button"
                           data-bs-toggle="dropdown" aria-expanded="false">
                            Setari cont
                        </a>
                        <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                            <li><a class="dropdown-item" href="{% url 'profile' %}">Profil</a></li>
                            <li><a class="dropdown-item" href="#">Parola</a></li>
                            <li><a class="dropdown-item" href="#">Notificari</a></li>
                        </ul>
                    </li>
                </ul>
            </header>
        </div>
    {% endif %}

    {#    <div class="stage">#}
    {#        <p style="font-size:74px;">Prestatori de Servicii verificati prin recenziile voastre</p>#}
    {##}
    {#        <form method="get" class="searchForm" action="{% url 'advanced_searching' %}">#}
    {#            {% csrf_token %}#}
    {#            <div>#}
    {#                <label for="inputGroupZone"><b>Zona</b></label>#}
    {#                <input class="form-control" type="text" id="inputGroupZone" name="zone"#}
    {#                       placeholder="Introduceti zona..." required>#}
    {#            </div>#}
    {##}
    {#            <div>#}
    {#                <label for="inputGroupRadius"><b>Radius</b></label>#}
    {#                <select class="form-select" id="inputGroupRadius" name="radius">#}
    {#                    <option value="0">0 km</option>#}
    {#                    <option value="10">10 km</option>#}
    {#                    <option value="50">50 km</option>#}
    {#                </select>#}
    {#            </div>#}
    {##}
    {#            <div>#}
    {#                <label for="inputGroupCategory"><b>Categorie</b></label>#}
    {#                <select class="form-select" id="inputGroupCategory" name="category">#}
    {#                    {% for category in categories %}#}
    {#                        {% if not category.parent_category %}#}
    {#                            <option value="{{ category.id }}"><b>{{ category.name }}</b></option>#}
    {#                            <a class="dropdown-item text-light bg-dark"#}
    {#                               href="{% url 'category_details' category.id %}"><b>{{ category.name }}</b></a>#}
    {#                            {% for subcateg in categories %}#}
    {#                                {% if subcateg.parent_category == category %}#}
    {#                                    <option value="{{ subcateg.id }}">{{ subcateg.name }}</option>#}
    {#                                    <a class="dropdown-item text-light bg-dark"#}
    {#                                       href="{% url 'category_details' subcateg.id %}">&nbsp;&nbsp;{{ subcateg.name }}</a>#}
    {#                                {% endif %}#}
    {#                            {% endfor %}#}
    {#                        {% endif %}#}
    {#                    {% endfor %}#}
    {#                </select>#}
    {#            </div>#}
    {##}
    {#            <div>#}
    {#                <label for="inputGroupType"><b>Tip</b></label>#}
    {#                <select class="form-select" id="inputGroupType" name="inputGroupType">#}
    {#                    <option selected>Alege...</option>#}
    {#                    <option value="1">Vezi toate</option>#}
    {#                    <option value="2"><b>Persoana Fizica</b></option>#}
    {#                    <option value="3"><b>Companie</b></option>#}
    {#                </select>#}
    {#            </div>#}
    {##}
    {#            <div>#}
    {#                <label for="inputGroupRating"><b>Rating</b></label>#}
    {#                <select class="form-select" id="inputGroupRating" name="inputGroupRating">#}
    {#                    <option selected>Alege...</option>#}
    {#                    <option value="1">*</option>#}
    {#                    <option value="2">**</option>#}
    {#                    <option value="3">***</option>#}
    {#                    <option value="4">****</option>#}
    {#                    <option value="5">*****</option>#}
    {#                </select>#}
    {#            </div>#}
    {##}
    {#            <div>#}
    {#                <input type="submit" value="Cauta" class="caut">#}
    {#                {{ form.as_p }}#}
    {#            </div>#}
    {#        </form>#}
    {#    </div>#}


    {#<form class="searchform">#}
    {#  <div class="wrapper">#}
    {#    <p>Cautare Rapida</p>#}
    {#    <div class="search-container">#}
    {#      <select class="search" id="inputGroupSelect01">#}
    {#          <option selected>Prestator/Beneficiar</option>#}
    {#          <option value="1">Prestator</option>#}
    {#          <option value="2">Beneficiar</option>#}
    {#      </select>#}
    {#      <select class="category" id="inputGroupSelect02">#}
    {#          <option selected>Categorie</option>#}
    {#          <option value="1">Toate Categoriile</option>#}
    {#          <option value="2">Constructii</option>#}
    {#             <li class="nav-item dropdown" id="dropdownMenuClickable">#}
    {#                    <a class="nav-link dropdown-toggle" href="#" role="button" id="dropdownMenuClickable"#}
    {#                       data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"#}
    {#                       onclick="document.getElementById('prestatori').style='display:block'">#}
    {#                        <b>Prestatori de Servicii</b>#}
    {#                    </a>#}
    {#                    <ul id="prestatori" class="dropdown-menu" aria-labelledby="dropdownMenuClickable"#}
    {#                        onmouseover="document.getElementById('prestatori').style='display:block'"#}
    {#                        onmouseout="document.getElementById('prestatori').style='display:none'">#}
    {#                        {% for category in categories %}#}
    {#                            {% if not category.parent_category %}#}
    {#                                <li><a onmouseover="document.getElementById('{{ category.id }}').style='display:block'"#}
    {#                                       class="dropdown-item"><b>{{ category.name }} &raquo;</b></a></li>#}
    {#                                <li><a class="dropdown-item"#}
    {#                                       href="{% url 'category_details' category.id %}"><b>{{ category.name }} &raquo;</b></a>#}
    {#                                </li>#}
    {#                                <div id="{{ category.id }}" style="display:none;">#}
    {#                                    {% for subcateg in categories %}#}
    {#                                        {% if subcateg.parent_category == category %}#}
    {#                                            <li><a class="dropdown-item"#}
    {##}
    {#                                                   href="{% url 'category_details' subcateg.id %}">{{ subcateg.name }}#}
    {#                                                &raquo;</a>#}
    {#                                            </li>#}
    {#                                        {% endif %}#}
    {#                                    {% endfor %}#}
    {#                                </div>#}
    {#                            {% endif %}#}
    {#                        {% endfor %}#}
    {#                    </ul>#}
    {#                </li>#}
    {#      </select>#}
    {#      <select class="subcategory" id="inputGroupSelect03">#}
    {#          <option selected>Subcategorie</option>#}
    {#          <option value="1">Toate Subcategoriile</option>#}
    {#          <option value="2">Constructii</option>#}
    {#      </select>#}
    {#      <select class="type" id="inputGroupSelect04">#}
    {#          <option selected>Persoana fizica/Companie</option>#}
    {#          <option value="1">Persoana fizica</option>#}
    {#          <option value="2">Companie</option>#}
    {#      </select>#}
    {#       <select class="Rating" id="inputGroupSelect05">#}
    {#          <option selected>Rating</option>#}
    {#          <option value="1">5</option>#}
    {#          <option value="2">4</option>#}
    {#          <option value="3">3</option>#}
    {#          <option value="4">2</option>#}
    {#          <option value="5">1</option>#}
    {#      </select>#}
    {#      <input type="text" id="zone" name="zone" placeholder="Introduceti zona..." required><br>#}
    {#      <button type="submit" class="button">Cauta</button>#}
    {#    </div>#}
    {#  </div>#}
    {#</form>#}


</div>
{% block body %}{% endblock %}
</div>


</body>
</html>
{#1a2b3c4d.#}
{#https://www.w3schools.com/css/css_dropdowns.asp#}
{#https://getbootstrap.com/docs/5.0/components/dropdowns/#}
{#https://www.mybuilder.com/profile/view/flat_pack_north_west/feedback#}
